<div class="card notification">
  <h5 class="card-header"><%= title %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="card-body <%= notification_background %>">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= message %></p>
  </div>
</div>
